// Header

@use '../base/settings' as *;
@use '../utilities/functions' as *;
@use '../utilities/mixins' as *;

header {
    background-color: $yellow;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    h1 {
        @include flatten;
        margin: 0 0 0 em(12, 32);
        line-height: 70px;
        a {
            text-decoration: none;
            color: black;
        }
    }
}