html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 8px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2a57af;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  max-width: 860px;
  margin: 0 auto;
  padding: 20px;
  border: 5px solid white;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.3em;
}

header h1 {
  margin: 0;
}

.App-link {
  color: #61dafb;
}

main {
  margin-bottom: 50px;
}

main p {
  line-height: 1.4;
}

.things-to-do li {
  margin-bottom: 6px;
}

.counter-section button {
  margin-bottom: 8px;
  margin-right: 8px;
}

footer {
  border-top: 1px dotted #fff;
  padding: 20px 0 0;
}

footer p:first-child {
  margin-top: 0;
}

footer p:last-child {
  margin-bottom: 0;
}

.books-container {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
}

@media (min-width: 615px) {
  .books-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 800px) {
  .books-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.book {
  max-width: 500px;
  border: 6px double rgb(245, 196, 3);
  padding: 20px;
  border-radius: 5px;
}

.book ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.book li:not(:last-child) {
  margin-bottom: 6px;
}

.book-cover {
  margin-bottom: 20px;
}

.book img {
  display: block;
  margin: 0 auto;
}

@media (min-width: 500px) {
  .book {
    display: flex;
  }
  .book-cover {
    flex: 0 0 180px;
    margin-bottom: 0;
    margin-right: 20px;
  }
  .book-info {
    flex: 1;
  }
}
