// Imports

// Resets
@use './base/reset';
@use './base/type';

// Components
@use './components/body';
@use './components/card';
@use './components/wrapper';
@use './components/header';
@use './components/btn-main-nav';
@use './components/main-nav';
@use './components/main';
@use './components/footer';

// Utilities
@use './utilities/utility-classes';

// Google Fonts - Import
@import url('https://fonts.googleapis.com/css?family=Alatsi|Roboto:400,400i,700,700i&display=swap');